/*
Nombre Completo: Daniel Alejandro Cano Cardona 
Clan: Gates
fecha: 08 / 04 / 2024 
*/

/* Variable de los colores utilizados */

:root {
    --negro: #000000;
    --blanco: #F1F1F1;
    --gris: #818181;
}

/* Restablecimiento de valores por defecto del navegador */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Fuente y espciado de letra */

body {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    letter-spacing: 1.2px;
}

/* Video - Background de la pagina */

.video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.header { /* Estilos de la cabecera de la pagina */
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;

    & img {
        width: 300px;
    }

    & nav {
        display: flex;
        align-items: center;
    }

    & a {
        color: var(--blanco);
        text-decoration: none;
        margin: 10px;
        font-size: 1.1rem;
        font-weight: bold;
    }

    & i {
        font-size: 1.5rem;
        margin: 15px;
        cursor: pointer;
    }
}

/* Estilos del main (Contenido) */

.placebo-home {
    display: flex;
    justify-content: center;

    & img {
        width: 1000px;
    }
}

.categorias {
    text-align: center;
    display: flex;
    color: var(--blanco);
    font-size: 1.5rem;
    font-weight: bold;
    flex-wrap: wrap;

    & img {
        width: 300px;
        height: 300px;
        cursor: pointer;
        border-radius: 10px;
    }

    & figure {
        width: 50%;
        padding: 50px;
    }

    & p {
        margin: 10px;
    }
}

.mercancia {
    margin: 100px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .articulo {
        text-align: center;
        color: var(--blanco);

        & img {
            background-color: var(--blanco);
            width: 300px;
            height: 250px;
            margin: 15px;
            border-radius: 10px;
        }
        
        & a {
            color: var(--blanco);
            font-size: 1.1rem;
        }

        & p {
            margin: 15px;
        }

        & button  {
            padding: 10px;
            border-radius: 1rem;
            margin: 15px;

            & a {
                color: var(--negro);
                font-weight: bold;
                font-size: 1rem;
            }
        }
    }
}

/* Codigo re utilizado de la mercancia ya que las secciones son similares */

.music {
    margin: 100px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .articulo {
        text-align: center;
        color: var(--blanco);

        & img {
            background-color: var(--blanco);
            width: 300px;
            height: 250px;
            margin: 15px;
            border-radius: 10px;
        }
        
        & a {
            color: var(--blanco);
            font-size: 1.1rem;
        }

        & p {
            margin: 15px;
        }

        & button  {
            padding: 10px;
            margin: 15px;

            & a {
                color: var(--negro);
                font-weight: bold;
                font-size: 1rem;
            }
        }
    }
}

/* CSS general para los botones (Se modifican de acuerdo a lo requerido en la seccion) */

button {
    transition: 0.9s ease;
    height: 40px;
    border-radius: 1.4rem;
    border: 1px solid var(--negro);
}

button:hover {
    background-color: var(--gris);
    border-right: 5px solid blue;
    border-left: 5px solid red ;
    transition: 0.9s ease;
    height: 45px;
    cursor: pointer;
}

.conciertos {
    color: var(--blanco);
    text-align: center;

    & span {
        font-weight: bold;
        font-size: 1.2rem;
    }

    & article {
        margin: 50px 0px;
    }

    & div {
        border: 1.5px solid var(--blanco);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    & button {
        width: 100px;
        font-weight: bold;
        font-size: 1rem;
    }

    & a button {
        margin: 15px;
    }
}

.sign-up {
    margin-top: 50px;
    color: var(--blanco);
    text-align: center;
    font-weight: bold;

    & h2 {
        margin: 20px;
    }

    & button {
        width: 100px;
        font-weight: bold;
        font-size: 1rem;
    }

    & a button {
        margin: 15px;
    }
}

footer { /* Estilos del pie de pagina */ 

    & .redes-sociales {
        margin-top: 100px;
        text-align: center;
        font-size: 1.5rem;
        color: var(--blanco);
    
        & i {
            margin: 10px;
        }
    }
  
    & .derechos {
        margin: 20px;
        color: var(--blanco);
        display: flex;
        justify-content: space-around;
    
        & ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 50px;
    
        }
    }
}
