/*
Nombre Completo: Daniel Alejandro Cano Cardona 
Clan: Gates
fecha: 08 / 04 / 2024 
*/

:root {
    --negro: #000000;
    --blanco: #FFFFFF;    
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/public/img/background-page.webp);
    background-size: cover;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    letter-spacing: 1.2px;
}

.header {
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;

    & img {
        width: 300px;
    }

    & nav {
        display: flex;
        align-items: center;
    }

    & a {
        color: var(--blanco);
        text-decoration: none;
        margin: 10px;
        font-size: 1.1rem;
        font-weight: bold;
    }

    & i {
        font-size: 1.5rem;
        margin: 15px;
        cursor: pointer;
    }
}

.placebo-home {
    display: flex;
    justify-content: center;

    & img {
        width: 1000px;
    }
}

.categorias {
    text-align: center;
    display: flex;
    color: var(--blanco);
    font-size: 1.5rem;
    font-weight: bold;
    flex-wrap: wrap;

    & img {
        width: 300px;
        height: 300px;
        cursor: pointer;
    }

    & figure {
        width: 50%;
        padding: 50px;
    }

    & p {
        margin: 10px;
    }
}

.mercancia {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .articulo {
        text-align: center;
        color: var(--blanco);

        & img {
            background-color: var(--blanco);
            width: 300px;
            height: 250px;
            margin: 15px;
        }
        
        & a {
            color: var(--blanco);
            font-size: 1.1rem;
        }

        & p {
            margin: 15px;
        }

        & button  {
            padding: 10px;
            border-radius: 1rem;
            margin: 15px;

            & a {
                color: var(--negro);
                font-weight: bold;
                font-size: 1rem;
            }
        }
    }
}
